@media (min-width: 608px){
    *{
    box-sizing: border-box;
}
    header,main,nav,footer{
        /* max-width: 950px; */
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    header{
        display: flex;
        gap: 100px;
        justify-content: center;
    }
    .social{
        
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .social button{
    padding: 10px;
}
      .navigation{
        display: block;
        border-bottom: 1px solid #eee;
    }
    .navigation ul{
        display: flex;
    }
    .navigation a{
        border: none;
    }
    nav{
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px  20px  20px 100px;
        gap: 20px;
    }
        .hamburger{
        display: none;
    }
    .logo{
        width: 300px;
        height: auto;
    }
     .list-row {
    padding: 12px;
  }

  .list-cell {
    font-size: 16px;
    padding: 10px;
  }

  .list-header {
    font-size: 18px;
  }
  /************************************************ home page ****************************************************/
  .event{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


  }
  .weather{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #current-event{
    
    grid-column: 1/3;
    

  }
  #events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    
  }
  
  #spotlights{
    grid-column: 1/6;

  }
  .activities{
     grid-column: 1/6;

  }
  .acti{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #event-overlay {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 20px;
  max-width: 70%;
 
}
 
}